.wd-search-twitter-input {
    width: 90%;
    background-color: rgb(47, 51, 54);
    color: white;
    border-radius: 10px;
    height: 25px;
    margin-left: 16px;
    margin-top: 7px;
    float: left;
}

.wd-gear-icon {
    margin-top: 3px;
    text-decoration-line: none;
    margin-right: 12px;
    float: right;
    font-size: 30px;
}

.wd-navigation {
    width: 100%;
    font-size: 15px;
    margin-top: 8px;
    padding-left: 16px;
}


.wd-navigation li {
    list-style-type: none;
    display: inline-block;
    color: rgb(110, 118, 125);
    margin-right: 54px;
    margin-left: 0px;
    padding: 16px 0px;
}

.wd-navigation .wd-navigation-selected {
    border-bottom: solid 4px rgb(29,161,242);
    color: rgb(29,161,242);
    text-underline-offset: 2px;
}

.wd-hr-divide-large {
    border: none;
    margin-top: -15px;
    height: 12px;
    background: rgb(47, 51, 54);
    margin-bottom: 0px;
}

.wd-tuit-category-c {
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    color: rgb(110, 118, 125);
    float: left;
}

.wd-tuit-stats {
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-tuit {
    border: 1px solid rgb(47, 51, 54);
    padding: 15px;
}

.wd-tuit-category-d-image {
    border-radius: 50%;
    width: 10px;
}

.wd-tuit-image {
    border-radius: 20%;
    float: right;
    margin-right: 16px;
    padding: 0px;
    width: 100px;
    height: 100px;
}

.wd-tuit-category-d-collection {
    float: left;
    height: 100%;
    width: 80%;
}

.wd-tuit-category-d-time {
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-tuit-category-d {
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    color: white;
}

.wd-tuit-options {
    float: right;
    color: rgb(110, 118, 125);
}